section{
    background-image: url(../assets/back.jpg);
    height: 100vh;
    background-size: cover;
}

.navbar{
    padding: 35px 0px;
}

.mt-5{
    margin-top: 7rem! important;
}

@media screen{}

.navbar-collapse {
    flex-grow: 0;
    align-items: center;
}


.main-section{
    padding-top: 50px;
}

input{
    width: 80%; 
    border-radius: 15px; 
    outline: none; 
    padding: 5px 15px;
    border: none;
}

.nav-link{
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.nav-link:hover{
    color: wheat;
}

/* The Modal (background) */
#id01 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0)
    }
  
    to {
      -webkit-transform: scale(1)
    }
  }
  
  @keyframes animatezoom {
    from {
      transform: scale(0)
    }
  
    to {
      transform: scale(1)
    }
  }

  /* register form */

  #id02 {
      display: none;
      position: fixed;
    /* Stay in place */
     z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    background-color: #fff;
    /* display: none; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    
}

.header{
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
    display: flex;

}

.header h2{
    margin: 0;
}
  .form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    border: none;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;

}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control i{
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form button{
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    color: #fff;
    padding: 10px;
    width: 100%;
    border-radius: 4px; 
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3d;
}

.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: #e74c3d;
    visibility: visible;
}

.form-control.error small{
    color: #e74c3d;
    visibility: visible;
}