section{
    background-image: url(../assets/back.jpg);
    height: 100vh;
    background-size: cover;
}

.navbar-collapse {
    flex-grow: 0;
    align-items: center;
}


.main-section{
    padding-top: 50px;
}
/* .search{

} */

input{
    width: 80%; 
    border-radius: 15px; 
    outline: none; 
    padding: 5px 15px;
    border: none;
}