.container{
    text-align: center;
    padding: 200px 0px;
}
.row{
    justify-content: space-around;
}
.btn-class {
    border: 1px solid;
    width: 20%;
    height: 100px;
    text-align: center;
    padding: 30px 0px;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.register {
    border: 1px solid;
    width: 20%;
    height: 100px;
    text-align: center;
    padding: 30px 0px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .content {
    position: fixed;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    /* color: #f1f1f1; */
    width: 100%;
    padding: 20px;
  }