*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.id02 {
    box-shadow: 0 0 10px;
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 7px;

   
}

.id02 .close{
cursor: pointer;
background-color: rgb(160, 60, 60);
border-radius: 50%;
padding: 5px 10px;
color: #fff;

}


.id02 .title{
    font: size 100px;
    font-weight: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;  
    display: flex; 
    justify-content: space-around;
}


.id02 form .user-details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    margin: 20px 0px 12px 0px; 
    overflow-y: scroll;
    
}    

form .user-details .input-box{
    margin-bottom: 15px;
    width: 80%;
   
}   

.user-details .input-box details{
    display:block;
    font-weight:500;
    margin-bottom: 5px;
    
}



.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px ;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:#3ebd3a;

   }

 
   .user-details .input-box input:focus,
.user-details .input-box input:invalid{
    border-color:#853232;
}

form .button {
    height:45px;
    margin:45px 0;
   

}


form .button input{
    height: 100%;
    width: 50%;
    outline: none;
    color:#fff;
    border: none;
    background: #3ebd3a; 
    font-size: 18px;
    font-weight:500;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-left: 74px;
    transition: ease-out 0.7s;
}


form .button input:hover{
     background :linear-gradient(-90deg ,#ffc400ad,  #3ebd3a);
     cursor: pointer;
     transition: ease-in 0.7s;
     
}



@media (max-width: 584px){
.id02{
max-width: 100%;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
}

.id02 form .user-details{
    max-height: 700px;
    overflow-y: scroll;
}
}


